In [1]:
import pandas as pd

In [3]:
sp = pd.read_csv('base_data/sp500_simple.csv', parse_dates=['date']).convert_dtypes()
sp.head()

,date,ticker,adj_close,close,high,low,open,volume,daily_return,log_return,rolling_mean_20,rolling_std_20
0,2016-02-10,A,33.100433,35.849998,36.73,35.529999,35.630001,3170000,<NA>,<NA>,<NA>,<NA>
1,2016-02-11,A,32.620323,35.330002,35.610001,34.939999,35.119999,3224000,-0.014505,-0.014611,<NA>,<NA>
2,2016-02-12,A,33.442055,36.220001,36.23,35.52,35.84,3923600,0.025191,0.024879,<NA>,<NA>
3,2016-02-16,A,34.236099,37.080002,37.169998,36.400002,36.720001,2903600,0.023744,0.023466,<NA>,<NA>
4,2016-02-17,A,34.9655,37.869999,38.130001,34.75,35.220001,5382300,0.021305,0.021081,<NA>,<NA>

In [5]:
comp = pd.read_csv('gmm_regimes.csv', parse_dates=['Date']).convert_dtypes()
comp.Regime_GMM = comp.Regime_GMM.astype('category')
comp.Regime_label = comp.Regime_label.astype('category')
comp = comp[comp.Date.between(sp.date.min(), sp.date.max())].reset_index(drop=True)
comp.head()

        Date  SP500_Return       VIX  Yield_Spread Regime_GMM Regime_label
0 2016-02-12     -0.398576  0.703609      0.027053          0    Stressful
1 2016-02-19      1.097792  0.106251     -0.005502          0    Stressful
2 2016-02-26      0.586413  0.017936     -0.048909          1         Calm
3 2016-03-04      1.026991 -0.343914     -0.005502          1         Calm
4 2016-03-11      0.395265 -0.388072       0.00535          1         Calm

In [7]:
merged = pd.merge(sp, comp, left_on=['date'], right_on=['Date'])
merged.drop(inplace=True, columns=['SP500_Return', 'Date'])
merged.head()

merged.to_csv('seb.csv', index=False)

np.int64(0)